

#ScheduleImage
{
	height: 15%;
	width: height;
	/*
	 * test
	 */
}

#ScoreImage
{
	height: 15%;
	width: height;
}

#ClubImage
{
	height: 15%;
	width: height;
}

#StoreImage
{
	height: 15%;
	width: height;
}

#TalonImage
{
	height: 15%;
	width: height;
}

#NewsImage
{
	height: 15%;
	width: height;
}


