div
{
	height:
}

#ScheduleImage
{
	height: 20%;
	width: 20%;
}

#ScoreImage
{
	height: 20%;
	width: 20%;
}

#ClubImage
{
	height: 20%;
	width: 20%;
}

#StoreImage
{
	height: 20%;
	width: 20%;
}

#TalonImage
{
	height: 20%;
	width: 20%;
}
