div.content
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

div.RightImage
{
	margin-top: -1px;
	width: 10%;
	height: 100%;
	min-width: 70px;
    max-width: 300px;
	float: right;
}

div.LeftImage
{
	width: 10%;
	height: 100%;
	min-width: 70px;
    max-width: 300px;
	float: left;
}

div.spacerL
{
	float: left;
	max-width: 30%;
	min-width: 20%;
	height: 60%;
}

div.spacerR
{
	float: right;
	max-width: 30%;
	min-width: 20%;
	height: 60%;	
}

div.spacerT
{
	width: 100%;
	top: 0;
	left: 0;
	min-height: 7%;
	max-height: 40%;
}

div.spacerB
{
	width: 100%;
	bottom: 0;
	left: 0;
	min-height: 7%;
	max-height: 40%;
}

#Image
{
	width: 100%;
	min-width: 70px;
    min-height: 50px;
    max-width: 300px;
    max-height: 300px;
    margin: 45% 0 45% 0;
    clear : both;
}