

#ScheduleImage
{
	height: 15%;
	
	
}

#ScoreImage
{
	height: 15%;
	
}

#ClubImage
{
	height: 15%;
	
}

#StoreImage
{
	height: 15%;
	
}

#TalonImage
{
	height: 15%;
	
}

#NewsImage
{
	height: 15%;
	
}


