body
{
	background-color:#00A2E8;
	font-family: "Edwardian Script ITC";
}
h1
{
	text-align: center;
}

div.spacerL
{
	float: left;
	max-width: 30%;
	min-width: 20%;
	height: 100%;
	border: solid;
}

div.spacerR
{
	float: right;
	max-width: 30%;
	min-width: 20%;	
	height: 100%;
	border: solid;
}

#TheB
{
	height: 50%;
}
